$border-radius: 16px;

app-reset-password {
  .reset-card {
    border-radius: 0 !important;
    border-bottom-left-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
    background-color: white !important;
    width: clamp(250px, 80%, 600px);
    margin-inline: auto;
    padding: 1rem;
  }

  .password-input {
    position: relative;
    --mdc-filled-text-field-input-text-placeholder-color: black;
    --mdc-filled-text-field-input-text-color: black;
  }

  .password-input-visibility {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(#000, 0.1) !important;
  }

  .reset-password-button {
    --mdc-protected-button-disabled-container-color: #5ea985 !important;
    --mdc-protected-button-disabled-label-text-color: black !important;
  }
}
