app-authentication-dialog {

  .dialog-close-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: white !important;
    background-color: $my-primary-OG !important;
  }

  .password-input {
    position: relative;
  }

  .password-input-visibility {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
  }
}
