app-premiere-album {
  // Make the mat-card-header-text take up the full width of the card
  .mat-mdc-card-header-text {
    // width: 100% !important;
  }

  mat-card {
    background-color: #f2f2f2 !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    box-shadow: none !important;
    margin-block: 1rem;
  }

  .album{
    text-align: center;
    flex-grow: 1;
  }

  .album-info {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .album-cover-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    // TODO: Fix width to be responsive
    min-width: 350px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
  }

  .album-topic, .album-artist, .album-time {
    color: gray;
  }

  .album-topic:hover, .album-artist:hover, .album-header-image:hover, .album-title:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
  }
}

