app-event {
  mat-expansion-panel {
    background-color: #f2f2f2 !important;
    background: #f2f2f2 !important;
    color: black !important;
    border-radius: 0 !important;
  }

  mat-panel-title, mat-panel-description, mat-expansion-panel-header {
    color: black !important;
  }

  .mat-expansion-panel-content {
    background: linear-gradient(to top, rgba($my-accent-OG, 0.1), transparent);
  }

  --mat-expansion-header-indicator-color: #8531A9 !important;

  a, a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover, a:active, a:focus {
    text-decoration: underline;
    color: $my-accent-OG;
  }

  .event-promoter, .event-promoter:visited {
    color: $my-primary-OG;
  }

  @media screen and (max-width: 600px) {
    .mat-expansion-panel-header-description {
      flex-grow: 1 !important;
    }

    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
      flex-grow: 2;
      align-items: initial;
    }
  }
}
