$border-radius: 16px;

app-homepage {
  .homepage-wrapper {
    min-height: 100vh;
  }
  .content-toggle-group {
    min-width: 300px;
  }

  .content-wrapper {
    margin-right: 2rem;
  }

  .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mat-tab-header-disabled-ripple-color: black;
    --mat-tab-header-pagination-icon-color: black;
    --mat-tab-header-inactive-label-text-color: black;
    --mat-tab-header-inactive-focus-label-text-color: black;
    --mat-tab-header-inactive-hover-label-text-color: black;
  }

  .mat-mdc-tab {
    background-color: whitesmoke;
  }

  .mat-mdc-tab:first-child {
    border-top-left-radius: $border-radius;
  }

  .mat-mdc-tab:last-child {
    border-top-right-radius: $border-radius;
  }

  .side-card {
    color: black;
    background-color: $my-accent-OG;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  @media (max-width: 1000px) {
    .content-wrapper {
      margin-right: 0;
    }
  }
}
