@import "../../variables";

$border-radius: 16px;

app-premiere-album {
  // Make the mat-card-header-text take up the full width of the card
  .mat-mdc-card-header-text {
    width: 100% !important;
  }

  mat-card {
    border-bottom-left-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
    box-shadow: none !important;
    margin-block: 1rem;
  }

  .album {
    text-align: center;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .album-header {
    background: linear-gradient(to bottom, rgba(62, 23, 79, 0.9), transparent);
    min-height: 100px;
  }

  .album-info {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .album-title, .album-artist, .album-time {
    color: white;
  }

  .album-title:hover, .album-artist:hover, .album-title:hover {
    color: $my-accent-400;
    cursor: pointer;
    text-decoration: underline;
  }
}

