<div class="container-max-width container-center d-flex justify-content-start flex-column">
  <mat-card class="reset-card">
    <mat-card-header>
      <mat-card-title>Zmień hasło do konta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #resetPasswordForm="ngForm" class="d-flex flex-column mt-3">
        <mat-form-field>
          <input matInput placeholder="Nowe hasło"
            [(ngModel)]="resetData.password"
            (ngModelChange)="onConfirmPasswordChange()"
            [type]="passwordVisible ? 'text' : 'password'"
            class="password-input" name="password" #password="ngModel" minlength="8" required>
          <button *ngIf="resetData.password"
            (click)="passwordVisible = !passwordVisible"
            mat-icon-button class="password-input-visibility" tabindex="-1">
            <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>
            <span *ngIf="password.errors?.['required']">Proszę podać hasło.</span>
            <span *ngIf="password.errors?.['minlength']">Hasło zbyt krótkie.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Powtórz nowe hasło"
            [(ngModel)]="resetData.confirmPassword"
            (ngModelChange)="onConfirmPasswordChange()"
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            class="password-input" name="confirmPassword" #confirmPassword="ngModel" required>
          <button *ngIf="resetData.confirmPassword"
            (click)="confirmPasswordVisible = !confirmPasswordVisible"
            mat-icon-button class="password-input-visibility" tabindex="-1">
            <mat-icon>{{ confirmPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>
            <span *ngIf="confirmPassword.errors?.['required']">Proszę podać hasło.</span>
            <span *ngIf="confirmPassword.errors?.['passwordMissmatch']">Hasła nie są takie same.</span>
          </mat-error>
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions style="margin-inline: auto;">
      <button mat-raised-button
        (click)="!isProcessing && reset()"
        [disabled]="!resetPasswordForm.valid || isProcessing"
        color="accent" class="reset-password-button">
        Zmień hasło
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <div *ngIf="isProcessing" class="d-flex justify-content-center my-2 w-100">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
