<div *ngIf="user | async as member; else loading" class="p-3 member-wrapper">
  <div class="container-max-width member-container p-3">
    <!-- <p>{{ member | json }}</p> -->
    <main class="member-main-info">
      <img [src]="member.avatar" class="member-avatar">
      <h1>{{ member.name }}</h1>
    </main>
    <section>
      <p>E-mail: {{ member.email }}</p>
      <p>Rola: {{ member.role }}</p>
      <p>Liczba postów: {{ member.posts.length }}</p>
    </section>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
