<div mat-dialog-title class="position-relative d-flex justify-content-center">
  <h2 class="mt-2">Podaj adres e-mail należący do konta</h2>
  <button mat-icon-button mat-dialog-close class="dialog-close-icon">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <form #forgotPasswordForm="ngForm" class="d-flex flex-column mt-3">
    <mat-form-field>
      <input matInput placeholder="E-mail"
        [(ngModel)]="accountEmail"
        (ngModelChange)="onEmailChange()" name="email" #email="ngModel" required>
      <mat-error>
        <span *ngIf="email.errors?.['required']">Proszę podać e-mail.</span>
        <span *ngIf="email.errors?.['invalidEmail']">Wprowadzane dane nie są e-mailem.</span>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button (click)="!isProcessing && forgotPassword()" [disabled]="!forgotPasswordForm.valid || isProcessing" color="accent">Nie pamiętam hasła</button>
  </form>
</mat-dialog-content>

<div *ngIf="isProcessing" class="d-flex justify-content-center my-2 w-100">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
