<ng-container *ngIf="discussionList | async as posts; else loading">
  <app-discussion-post *ngFor="let post of posts"
    [post]="post"
    (topic)="navigateToTopicForum($event)"
    (authorProfile)="navigateToAuthorProfile($event)"
    (postModal)="openPostModal(post)"
    (postDetails)="openPostDetails($event)">
  </app-discussion-post>
</ng-container>

<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
