<div mat-dialog-title class="position-relative d-flex justify-content-center">
  <h2 class="mt-2">Edytuj profil</h2>
  <button mat-icon-button mat-dialog-close class="dialog-close-icon">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="mat-typography">
  <form #editMemberForm="ngForm" class="d-flex flex-column mt-3">
    <mat-form-field>
      <mat-label>Bio</mat-label>
      <textarea matInput [(ngModel)]="editMemberModel.data.bio" name="memberBio" #memberBioInput="ngModel" rows="10" maxlength="2000" required></textarea>
      <mat-error>
        <span *ngIf="memberBioInput.errors?.['required']">Proszę wprowadzić treść bio.</span>
      </mat-error>
    </mat-form-field>

    <div *ngIf="isProcessing" class="d-flex justify-content-center mt-3 w-100">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>

    <button mat-raised-button (click)="edit()" [disabled]="!editMemberForm.valid || isProcessing" color="accent">Zapisz</button>
  </form>
</mat-dialog-content>
