<mat-toolbar class="d-flex justify-content-center py-5" *ngIf="isWideScreen; else mobileContent">
  <div class="d-flex justify-content-between container-max-width">
    <img src="assets/img/logo.svg" alt="Site logo 'Hip-Hop Hub'" class="logo" (click)="goToHomepage()">

    <mat-form-field class="mt-4 w-50" color="accent">
      <mat-label>Wyszukaj w społeczności..</mat-label>
      <input matInput type="text">
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <section class="d-flex justify-content-end align-items-center">
      <button mat-icon-button aria-label="icon-button which opens new post creation" matTooltip="Stwórz nowy post">
        <mat-icon>forum</mat-icon>
      </button>

      <button mat-flat-button [color]="member ? 'accent' : 'primary'" (click)="memberButtonAction()">
        <mat-icon>person</mat-icon>
        {{ member?.username || 'Zaloguj / Dołącz' }}
      </button>

      <app-header-side-menu [memberAuthenticated]="!!member" (memberLogout)="memberLogout()" (memberAuthenticate)="memberAuthenticate()"></app-header-side-menu>
    </section>
  </div>
</mat-toolbar>

<ng-template #mobileContent>
  <mat-toolbar class="d-flex justify-content-between py-5">
    <img src="assets/img/logo.svg" alt="Site logo 'Hip-Hop Hub'" class="logo" (click)="goToHomepage()">

    <section class="d-flex justify-content-end align-items-center">
      <button mat-icon-button>
        <mat-icon>forum</mat-icon>
      </button>

      <button mat-flat-button [color]="member ? 'accent' : 'primary'" (click)="memberButtonAction()">
        <mat-icon>person</mat-icon>
        {{ member?.username || 'Zaloguj / Dołącz' }}
      </button>

      <app-header-side-menu [memberAuthenticated]="!!member" (memberLogout)="memberLogout()"></app-header-side-menu>
    </section>
  </mat-toolbar>

  <mat-toolbar class="d-flex justify-content-center mobile-search-bar">
    <mat-form-field class="mt-4 w-100">
      <mat-label>Wyszukaj w społeczności..</mat-label>
      <input matInput type="text">
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar>
</ng-template>
