<div *ngIf="member | async as member; else loading" class="container-max-width member-container p-3">
  <mat-card class="member-card">
    <mat-card-header class="d-flex container-center p-3 member-header">
      <div class="container-center">
        <img [src]="member.avatar" class="member-avatar">
      </div>
      <section aria-label="Member main information">
        <div class="d-flex justify-content-between">
          <article>
            <mat-card-title>{{ member.name }}</mat-card-title>
            <app-text-with-icon icon="person" [text]="member.role"></app-text-with-icon>
            <app-text-with-icon icon="mail" [text]="member.email"></app-text-with-icon>
          </article>
          <div>
            <button mat-icon-button matTooltip="Edytuj profil"><mat-icon>edit</mat-icon></button>
          </div>
        </div>
        <article class="mt-2" aria-label="Member description">
          <p>{{ member.bio || "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quos doloremque soluta pariatur sunt optio modi accusamus beatae laborum voluptatibus totam dignissimos, architecto nam voluptate fuga consequuntur ipsam perspiciatis? In quisquam tenetur, ratione quam adipisci assumenda? Sequi dignissimos amet deserunt totam repellendus temporibus eveniet libero, quidem cumque, repudiandae cum aut." }}</p>
        </article>
      </section>
    </mat-card-header>
    <mat-card-content>
      <mat-divider style="background-color: lightgray;"></mat-divider>
      <mat-card-title class="my-3">
        <app-text-with-icon icon="query_stats" text="Statystyki"></app-text-with-icon>
      </mat-card-title>
      <section class="d-flex flex-column" style="gap: 1rem;">
        <article class="d-flex" style="gap: 0.5rem;" aria-label="Posts created by the member">
          <span class="member-stat-title">Dyskusje ({{ member.posts.length || 0 }}):</span>
          <div class="d-flex flex-column">
            <a *ngFor="let post of member.posts" routerLink="../discussion" [queryParams]="{ id: post.id }">{{ post.name }}</a>
          </div>
        </article>

        <article class="d-flex" style="gap: 0.5rem;" aria-label="Groups joined by the member">
          <span class="member-stat-title">Grupy ({{ member.joinedGroups.length }}):</span>
          <div class="d-flex flex-column">
            <a *ngFor="let group of member.joinedGroups" routerLink="../group" [queryParams]="{ id: group.id }">{{ group.name }}</a>
          </div>
        </article>

        <article class="d-flex" style="gap: 0.5rem;" aria-label="Events attened by the member">
          <span class="member-stat-title">Wydarzenia ({{ member.attendedEvents.length }}):</span>
          <div class="d-flex flex-column">
            <a *ngFor="let event of member.attendedEvents" routerLink="../event" [queryParams]="{ id: event.id }">{{ event.name }}</a>
          </div>
        </article>

        <article class="d-flex" style="gap: 0.5rem;" aria-label="Artists followed by the member">
          <span class="member-stat-title">Artyści ({{ member.followedArtists.length }}):</span>
          <div class="d-flex flex-column">
            <a *ngFor="let artist of member.followedArtists" routerLink="../artist" [queryParams]="{ id: artist.id }">{{ artist.name }}</a>
          </div>
        </article>
      </section>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
