<mat-card class="album" color="accent" [style.background-image]="'url(' + album.cover + ')'">
  <mat-card-header class="album-header">
    <mat-card-title>
      <span class="album-title" (click)="openAlbumModal()" matTooltip="Zobacz Album">{{ album.title }}</span>
    </mat-card-title>
    <mat-card-subtitle class="album-info">
      <span class="album-artist" (click)="openArtistForum()" matTooltip="Otwórz profil Artysty">{{ album.artist.name }}</span>
      <span class="album-time">{{ album.releaseDate | date : 'shortDate' }}</span>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
