<mat-card class="album" color="accent" [style.background-image]="'url(' + album.cover + ')'">
  <mat-card-header class="album-header">
    <mat-card-title>
      <span class="album-title" matTooltip="Zobacz Album"
        routerLink="/artist/album" [queryParams]="{ id: album.id }">
        {{ album.name }}
      </span>
    </mat-card-title>
    <mat-card-subtitle class="album-info">
      <span class="album-artist" matTooltip="Otwórz profil Artysty"
        routerLink="/artist" [queryParams]="{ id: album.artist.id }">
        {{ album.artist.name }}
      </span>
      <span class="album-time">{{ album.releaseDate | date : 'shortDate' }}</span>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
