<div *ngIf="group; else loading" class="container-max-width group-container p-3">
  <mat-card class="group-card">
    <mat-card-header class="d-flex container-center group-header" [ngClass]="isWideScreen ? 'p-3' : 'p-0'">
      <div class="container-center">
        <img [src]="group.image" class="group-image">
      </div>
      <section aria-label="Group main information">
        <div class="d-flex justify-content-between align-items-center">
          <article>
            <mat-card-title>{{ group.name }}</mat-card-title>
            <!-- <app-text-with-icon icon="person" [text]="member.role"></app-text-with-icon> -->
          </article>
          <div>
            <button mat-icon-button [matTooltip]="groupMember ? 'Należysz' : 'Dołącz'" (click)="groupAction()">
              <mat-icon class="join-icon" [style.color]="groupMember ? 'initial' : 'black !important'">
                {{ groupMember ? 'person_check' : 'person_add' }}
              </mat-icon>
            </button>
          </div>
        </div>
        <article class="mt-2" aria-label="Group description">
          <p>{{ group.description || "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quos doloremque soluta pariatur sunt optio modi accusamus beatae laborum voluptatibus totam dignissimos, architecto nam voluptate fuga consequuntur ipsam perspiciatis? In quisquam tenetur, ratione quam adipisci assumenda? Sequi dignissimos amet deserunt totam repellendus temporibus eveniet libero, quidem cumque, repudiandae cum aut." }}</p>
        </article>
      </section>
    </mat-card-header>
    <mat-card-content [ngClass]="isWideScreen ? null : 'p-0'">
      <mat-divider class="mt-2" style="background-color: lightgray;"></mat-divider>

      <mat-card-title class="my-3">
        <app-text-with-icon icon="query_stats" text="Statystyki"></app-text-with-icon>
      </mat-card-title>
      <section class="d-flex flex-column" style="gap: 1rem;">
        <article class="d-flex" style="gap: 0.5rem;" aria-label="Posts created by the member">
          <span class="group-stat-title">Dyskusje ({{ group.discussionPosts.length || 0 }}):</span>
          <div class="d-flex flex-column">
            <div class="d-flex flex-column">
              <ng-container *ngFor="let post of group.discussionPosts | slice:0:5">
                <a routerLink="../discussion" [queryParams]="{ id: post.id }">{{ post.name }}</a>
              </ng-container>
              <ng-container *ngIf="group.discussionPosts.length > 5">
                oraz {{ group.discussionPosts.length - 5 }} innych..
              </ng-container>
            </div>
          </div>
        </article>

        <article class="d-flex" style="gap: 0.5rem;" aria-label="Group events">
          <span class="group-stat-title">Wydarzenia ({{ group.events.length || 0 }}):</span>
          <div class="d-flex flex-column">
            <ng-container *ngFor="let event of group.events | slice:0:5">
              <a routerLink="../event" [queryParams]="{ id: event.id }">{{ event.name }}</a>
            </ng-container>
            <ng-container *ngIf="group.events.length > 5">
              oraz {{ group.events.length - 5 }} innych..
            </ng-container>
          </div>
        </article>

        <article class="d-flex" style="gap: 0.5rem;" aria-label="Group members">
          <span class="group-stat-title">Czonkowie ({{ group.members.length || 0 }}):</span>
          <div class="d-flex flex-column">
            <ng-container *ngFor="let group of group.members | slice:0:5">
              <a routerLink="../user" [queryParams]="{ id: group.id }">{{ group.name }}</a>
            </ng-container>
            <ng-container *ngIf="group.members.length > 5">
              oraz {{ group.members.length - 5 }} innych..
            </ng-container>
          </div>
        </article>
      </section>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
