<div *ngIf="discussionPost; else loading" class="container-max-width post-container" [ngClass]="discussionPostData ? 'p-0' : 'p-3'">
  <mat-card class="post-card">
    <mat-card-header class="d-flex flex-column container-center text-center" [ngClass]="isWideScreen ? 'p-3' : 'p-0'">
      <mat-card-title>{{ discussionPost.title }}</mat-card-title>
      <a [queryParams]="{ id: discussionPost.topic.id }"
        [routerLink]="discussionPost.topic.type === 'ARTIST' ? '../artist' : '../group'"
        class="d-flex align-items-center justify-content-center" style="gap: 0.25rem;"
        [matTooltip]="discussionPost.topic.type === 'ARTIST' ? 'Przejdź do profilu Artysty' : 'Przejdź do profilu Grupy'">
        <mat-icon>person_4</mat-icon>
        {{ discussionPost.topic.name }}
      </a>
      <p>{{ discussionPost.creationTime | date: 'medium' }}</p>
      <button *ngIf="discussionPostData" mat-icon-button mat-dialog-close class="dialog-close-icon">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content [ngClass]="isWideScreen ? null : 'p-0'">
      <section *ngIf="member?.id === discussionPost.author.id" class="d-flex justify-content-end">
        <button mat-icon-button matTooltip="Edytuj dyskusje" (click)="editDiscussionPost()">
          <mat-icon class="discussion-action-button">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Usuń dyskusje" (click)="deleteDiscussionPost()">
          <mat-icon class="discussion-action-button">delete</mat-icon>
        </button>
      </section>
      <section>
        <p *ngFor="let paragraph of formattedContent" style="text-align: justify;">{{ paragraph }}</p>
      </section>
      <aside *ngIf="discussionPost.topic.type === 'GROUP'" class="d-flex flex-column align-items-end mt-3" aria-label="Post author">
        <a routerLink="../user" [queryParams]="{ id: discussionPost.author.id }" matTooltip="Przejdź do profilu Autora">
          <img [src]="discussionPost.author.avatar" class="post-author-avatar">
          <span>{{ discussionPost.author.name}}</span>
        </a>
      </aside>
      <mat-divider class="my-4" style="background-color: lightgray;"></mat-divider>
      <section>
        <mat-card-title class="my-3">
          <app-text-with-icon icon="comment" text="Komentarze">({{discussionPost.comments.length}})</app-text-with-icon>
        </mat-card-title>
        <article class="d-flex flex-column" style="gap: 2rem;" aria-label="Post comments">
          <div *ngFor="let comment of discussionPost.comments | slice:0:10" class="d-flex" style="gap: 2rem;">
            <a *ngIf="member; else readOnlyUser" routerLink="../user" [queryParams]="{ id: comment.author.id }"
              class="d-flex flex-column w-25">
              <img [src]="comment.author.avatar" class="comment-author-avatar">
              <span class="mt-2" [matTooltip]="comment.author.name" appTruncateText>{{ comment.author.name }}</span>
            </a>
            <ng-template #readOnlyUser>
              <div class="d-flex flex-column w-25">
                <img [src]="comment.author.avatar" class="comment-author-avatar">
                <span class="mt-2" style="color: #8531A9" appTruncateText>{{ comment.author.name }}</span>
              </div>
            </ng-template>

            <div style="align-self: center;">
              <p>{{ comment.content }}</p>
              <p>{{ (comment.creationTime | date: 'medium') || '28 lis 2023, 16:59:46' }}</p>
            </div>
          </div>
          <ng-container *ngIf="discussionPost.comments.length > 10">
            oraz {{ discussionPost.comments.length - 10 }} innych..
          </ng-container>
        </article>
      </section>
      <form *ngIf="member" class="d-flex flex-column mt-5" #commentForm="ngForm">
        <h2>Nowy komentarz</h2>
        <mat-form-field>
          <mat-label>Treść komentarza</mat-label>
          <textarea matInput [(ngModel)]="newComment" #newCommentInput="ngModel" name="newComment" color="accent" rows="5" maxlength="2000" required></textarea>
          <mat-error>
            <span *ngIf="newCommentInput.errors?.['required']">Proszę wpisać treść komentarza.</span>
            <span *ngIf="newCommentInput.errors?.['maxlength']">Komentarz jest zbyt długi.</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" class="add-comment-button" (click)="commentAction()" [disabled]="!commentForm.valid">
          <mat-icon class="follow-icon">add_comment</mat-icon>
          Dodaj komentarz
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>
