// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// General
@import "assets/styles/variables";
@import "assets/styles/common";

// Components
@import "assets/styles/components/header.scss";
@import "assets/styles/components/homepage.scss";
@import "assets/styles/components/discussion-post.scss";
@import "assets/styles/components/premiere-album.scss";
@import "assets/styles/components/premiere-list.scss";
