// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #ece3f1;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(6) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(279, 33%, 92%, 1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z'  stroke-width='0.5' stroke='hsla(259, 0%, 0%, 0.06)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(6) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(279, 33%, 92%, 1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z'  stroke-width='0.5' stroke='hsla(259, 0%, 100%, 0.45)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}


// General
@import "assets/styles/variables";
@import "assets/styles/common";

// Components
@import "assets/styles/components/header.scss";
@import "assets/styles/components/event-details.scss";
@import "assets/styles/components/discussion-post-details.scss";
@import "assets/styles/components/search-results.scss";

// Authentication
@import "assets/styles/components/authentication/authentication-dialog.scss";
@import "assets/styles/components/authentication/verification-dialog.scss";
@import "assets/styles/components/authentication/forgot-password-dialog.scss";
@import "assets/styles/components/authentication/reset-password.scss";

// Homepage
@import "assets/styles/components/homepage/homepage.scss";
@import "assets/styles/components/homepage/side-recommendations.scss";
@import "assets/styles/components/homepage/discussion-post.scss";
@import "assets/styles/components/homepage/premiere-album.scss";
@import "assets/styles/components/homepage/premiere-list.scss";
@import "assets/styles/components/homepage/event.scss";

// Artist
@import "assets/styles/components/artist/artist-profile.scss";
@import "assets/styles/components/artist/artists-list.scss";
@import "assets/styles/components/artist/album-details.scss";

// Group
@import "assets/styles/components/group/group-profile.scss";
@import "assets/styles/components/group/groups-list.scss";
@import "assets/styles/components/group/create-new-group-dialog.scss";
@import "assets/styles/components/group/edit-group-profile-dialog.scss";

// Member
@import "assets/styles/components/member/member.scss";
@import "assets/styles/components/member/members-list.scss";
