// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ece3f1; }


// General
@import "assets/styles/variables";
@import "assets/styles/common";

// Components
@import "assets/styles/components/header.scss";
@import "assets/styles/components/event-details.scss";

// Authentication
@import "assets/styles/components/authentication/authentication-dialog.scss";
@import "assets/styles/components/authentication/verification-dialog.scss";
@import "assets/styles/components/authentication/forgot-password-dialog.scss";
@import "assets/styles/components/authentication/reset-password.scss";

// Homepage
@import "assets/styles/components/homepage/homepage.scss";
@import "assets/styles/components/homepage/side-recommendations.scss";
@import "assets/styles/components/homepage/discussion-post.scss";
@import "assets/styles/components/homepage/premiere-album.scss";
@import "assets/styles/components/homepage/premiere-list.scss";
@import "assets/styles/components/homepage/event.scss";

// Artist
@import "assets/styles/components/artist/artist-profile.scss";
@import "assets/styles/components/artist/artists-list.scss";

// Group
@import "assets/styles/components/group/group-profile.scss";
@import "assets/styles/components/group/groups-list.scss";

// Member
@import "assets/styles/components/member/member.scss";
@import "assets/styles/components/member/members-list.scss";
