@use '@angular/material' as mat;

@include mat.core();

// Creating custom theme: https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors

// Define a theme.
$primary: mat.define-palette(mat.$purple-palette);
$accent: mat.define-palette(mat.$green-palette);
$warn: mat.define-palette(mat.$red-palette);

$my-primary-50: map-get($primary, 50);
$my-primary-100: map-get($primary, 100);
$my-primary-200: map-get($primary, 200);
$my-primary-300: map-get($primary, 300);
$my-primary-400: map-get($primary, 400);
$my-primary-500: map-get($primary, 500); // This is the main shade
$my-primary-600: map-get($primary, 600);
$my-primary-700: map-get($primary, 700);
$my-primary-800: map-get($primary, 800);
$my-primary-900: map-get($primary, 900);
$my-primary-A100: map-get($primary, A100);
$my-primary-A200: map-get($primary, A200);
$my-primary-A400: map-get($primary, A400);
$my-primary-A700: map-get($primary, A700);
$my-primary-OG: #8531A9;

$my-accent-50: map-get($accent, 50);
$my-accent-100: map-get($accent, 100);
$my-accent-200: map-get($accent, 200);
$my-accent-300: map-get($accent, 300);
$my-accent-400: map-get($accent, 400);
$my-accent-500: map-get($accent, 500); // This is the main shade
$my-accent-600: map-get($accent, 600);
$my-accent-700: map-get($accent, 700);
$my-accent-800: map-get($accent, 800);
$my-accent-900: map-get($accent, 900);
$my-accent-A100: map-get($accent, A100);
$my-accent-A200: map-get($accent, A200);
$my-accent-A400: map-get($accent, A400);
$my-accent-A700: map-get($accent, A700);
$my-accent-OG: #60DC9F;

$my-warn-50: map-get($warn, 50);
$my-warn-100: map-get($warn, 100);
$my-warn-200: map-get($warn, 200);
$my-warn-300: map-get($warn, 300);
$my-warn-400: map-get($warn, 400);
$my-warn-500: map-get($warn, 500); // This is the main shade
$my-warn-600: map-get($warn, 600);
$my-warn-700: map-get($warn, 700);
$my-warn-800: map-get($warn, 800);
$my-warn-900: map-get($warn, 900);
$my-warn-A100: map-get($warn, A100);
$my-warn-A200: map-get($warn, A200);
$my-warn-A400: map-get($warn, A400);
$my-warn-A700: map-get($warn, A700);
$my-warn-OG: #FF0000;
