<mat-card class="post" color="accent">
  <mat-card-header class="post-header">
    <div mat-card-avatar class="post-header-image" [style.background-image]="'url(' + post.authorAvatar + ')'"></div>
    <mat-card-subtitle (click)="openTopicForum(post.topic)">
      <span class="post-topic">{{ post.topic }}</span>
    </mat-card-subtitle>
    <mat-card-title>
      <span class="post-title">{{ post.title }}</span>
    </mat-card-title>
    <mat-card-subtitle class="mt-1 d-flex justify-content-between align-items-center w-100">
      <span class="post-author" (click)="openAuthorProfile(post.author)">{{ post.author }}</span>

      <div class="post-additional-info">
        <span class="post-time">{{ post.creationTime | date : 'medium' }}</span>
        <button mat-flat-button color="accent" class="post-comments" (click)="openPostModal(post)">
          <mat-icon>mode_comment</mat-icon>
          {{  post.numberOfComments || '0' }}
        </button>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
