<mat-card class="post" color="accent">
  <mat-card-header class="post-header">
    <div mat-card-avatar class="post-header-image"
      [style.background-image]="'url(' + post.author.avatar + ')'"
      (click)="openAuthorProfile()">
    </div>
    <mat-card-subtitle (click)="openTopicForum()">
      <span class="post-topic">{{ post.topic.name }}</span>
    </mat-card-subtitle>
    <mat-card-title>
      <span class="post-title" (click)="openPostDetails()">{{ post.title }}</span>
    </mat-card-title>
    <mat-card-subtitle class="mt-1 d-flex justify-content-between w-100"
      [ngClass]="isWideScreen ? 'flex-row align-items-center' : 'flex-column'">
      <span class="post-author" (click)="openAuthorProfile()">{{ post.author.name }}</span>

      <div class="post-additional-info" [ngClass]="isWideScreen ? '' : 'my-1 pb-2'">
        <span class="post-time">{{ post.creationTime | date : dateType }}</span>
        <button mat-flat-button color="accent" class="post-comments" (click)="openPostModal()">
          <mat-icon>mode_comment</mat-icon>
          {{  post.numberOfComments || '0' }}
        </button>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
