<div mat-dialog-title class="position-relative d-flex justify-content-center">
  <h2 class="mt-2">Zweryfikuj nowe konto</h2>
  <button mat-icon-button mat-dialog-close class="dialog-close-icon">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <form #verificationForm="ngForm" class="d-flex flex-column mt-3">
    <mat-form-field>
      <mat-label>Podaj token</mat-label>
      <input matInput placeholder="Token"
        [(ngModel)]="verificationToken"
        name="token" #token="ngModel" required>
      <mat-error>Proszę podać otrzymany token.</mat-error>
    </mat-form-field>

    <button mat-raised-button (click)="verify()" [disabled]="!verificationForm.valid" color="accent">Zweryfikuj konto</button>
  </form>
</mat-dialog-content>
